.articleDetails {
  &__header {
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__img {
    margin-top: 16px;
    height: auto;
    max-width: 500px;
    width: 100%;
  }
}

.articleBlock {
  margin-top: 35px;
}
