.button {
  cursor: pointer;
  padding: 8px 16px;
  color: var(--primary-color);
  transition: all .2s;
  height: 36px;

  &_clear {
    margin: 0;
    border: none;
    background: none;
    outline: none;
  }

  &_outlined {
    border: 1px solid var(--icon-color);
    border-radius: 7px;

    &:hover {
      border-color: var(--accent-color);
    }
  }

  &_contained {
    border-radius: 7px;
    background: var(--light-bg-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}