:root[data-theme='dark'] {
  --primary-color: #dbdbdb;
  --accent-color: #5ed3f3;
  --icon-color: #74a2b2;
  --primary-bg-color: #0c1214;
  --secondary-bg-color: #151c1f;
  --dark-bg-color: #090f11;
  --light-bg-color: #151c1f;
  --red-color: #c12b2d;
  --box-shadow: 0px 3px 10px 0px #000000bf;
}
