:root[data-theme='light'] {
  --primary-color: #141c1f;
  --accent-color: #00c8ff;
  --icon-color: #5ed3f3;
  --primary-bg-color: #eff5f6;
  --secondary-bg-color: #e2eef1;
  --dark-bg-color: #fff;
  --light-bg-color: #e2eef1;
  --red-color: #ff4d4f;
  --box-shadow: 0 3px 10px #00000026;
}
