:root[data-theme='dark'] {
  --primary-color: #DBDBDB;
  --accent-color: #5ED3F3;
  --icon-color: #74A2B2;
  --primary-bg-color: #0C1214;
  --secondary-bg-color: #151C1F;
  --dark-bg-color: #090F11;
  --light-bg-color: #151C1F;

  --red-color: #c12b2d;
}