:root[data-theme='light'] {
  --primary-color: #141C1F;
  --accent-color: #00C8FF;
  --icon-color: #5ED3F3;
  --primary-bg-color: #EFF5F6;
  --secondary-bg-color: #E2EEF1;
  --dark-bg-color: #FFFFFF;
  --light-bg-color: #E2EEF1;

  --red-color: #ff4d4f;

  --box-shadow: 0 3px 10px #00000026;
}