.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background: var(--secondary-bg-color);
  padding: 20px;
  z-index: 999;

  &__links {
    margin-left: auto;
  }
}

.mainLink {
  margin-right: 10px;
}
