.typography {
  &__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-black);
  }

  &__subTitle {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular);
  }

  &__text {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
  }

  &_default {
    color: var(--primary-color);
  }

  &_error {
    color: var(--red-color);
  }

  &_align {
    &_left {
      text-align: left;
    }

    &_center {
      text-align: center;
    }

    &_right {
      text-align: right;
    }
  }
}
