.sidebarLink {
  $this: &;

  padding-left: 10px;

  &_active {
    box-shadow: inset 2px 0 0 0 var(--accent-color);
  }

  &_collapsed {
    justify-content: center;
    padding-left: 0;

    #{$this}__title {
      visibility: hidden;
      opacity: 0;
      max-width: 0;
      display: none;
    }
  }

  &__icon {
    color: var(--icon-color);
  }

  &__title {
    white-space: nowrap;
    font-size: var(--font-size-m);
    font-weight: 400;
    visibility: visible;
    opacity: 1;
    max-width: fit-content;
    transition: visibility 1s, max-width 1s;
    margin-left: 16px;
  }
}
