.option {
  background: var(--primary-bg-color);
  cursor: pointer;
  padding-left: 10px;
  height: 32px;
  display: flex;
  width: 100%;
  align-items: center;

  &:hover {
    background-color: var(--light-bg-color);
  }
}