.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background: var(--secondary-bg-color);
  padding: 20px;
}

.mainLink {
  margin-right: 10px;
}

.links {
  margin-left: auto;
}